.additional-items {
  padding: 11px 0 35px;
}

.additional-items__list {
  @include clean-ul;
  margin-bottom: 36px;
}

.additional-items__order-all {
  background-color: $green;
  text-align: center;
  padding: 65px 56px 40px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.additional-items__gift {
  margin-bottom: 60px;
}

.additional-items__desc-order {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .additional-items__order-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 125px;
  }

  .additional-items__gift {
    margin-bottom: 0;
  }

  .additional-items__desc-order {
    width: 160px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .additional-items__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-items__container .title {
    width: 100%;
  }

  .additional-items__list {
    width: 895px;
    margin-bottom: 0;
  }

  .additional-items__order-all {
    width: 171px;
    display: block;
    padding-left: 37px;
    padding-right: 37px;
    text-align: center;
  }

  .additional-items__gift {
    margin-bottom: 65px;
  }

  .additional-items__desc-order {
    width: auto;
    text-align: inherit;
  }
}
