.assortment-program {
  padding: 23px 0 34px;
}

.assortment-program__desc {
  color: $black111;
  font-family: "Oswald", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 37px;
  text-transform: uppercase;
}

.assortment-program__fieldset {
  border: none;
  padding: 9px 0;
  margin: 0;
  position: relative;

  &_border {
    position: relative;
    border: 1px solid $gray-150;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.assortment-program__label {
  margin-bottom: 14px;
}

.assortment-program__textarea {
  border: 1px solid $gray-300;
  box-sizing: border-box;
  padding: 14px 11px;
  resize: none;
  min-height: 150px;
  width: 100%;

  &::placeholder {
    opacity: 1;
    color: $black444;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.assortment-program__submit {
  border: none;
  margin-bottom: 23px;
}

.assortment-program__footnote {
  line-height: 16px;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .assortment-program__desc {
    width: 304px;
  }

  .assortment-program__desc,
  .assortment-program__fieldset,
  .assortment-program__footer {
    margin-left: 41px;
    margin-right: 37px;
  }

  .assortment-program__wrap-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .assortment-program__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .assortment-program__submit {
    margin-bottom: 0;
    width: 283px;
  }

  .assortment-program__footnote {
    text-align: left;
    width: 286px;
  }
}

@media (min-width: 1300px) {
  .assortment-program__desc,
  .assortment-program__fieldset,
  .assortment-program__footer {
    margin-left: 0;
    margin-right: 0;
  }

  .assortment-program__submit,
  .assortment-program__footnote,
  .assortment-program__large-2 .assortment-program__label,
  .assortment-program__large-2 .assortment-program__fieldset {
    width: 570px;
  }

  .assortment-program__large-2 {
    display: flex;
    justify-content: space-between;
  }

  .assortment-program__label:last-child {
    margin-bottom: 0;
  }

  .assortment-program__desc {
    width: 325px;
  }
}
