.assortment-program {
  padding: 19px 0 32px;
}

.assortment-program__desc {
  color: $black111;
  font-family: "Oswald", "Arial", sans-serif;
  margin-top: -3px;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 270px;
}

.assortment-program__fieldset {
  border: none;
  padding: 9px 0;
  margin: 0;
  position: relative;

  &_border {
    position: relative;
    border: 1px solid $gray-150;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &_contacts {
    padding-top: 18px;
    padding-bottom: 5px;
  }

  &_extra {
    padding-top: 20px;
    padding-bottom: 35px;
  }
}

.assortment-program__label {
  margin-bottom: 14px;
}

.assortment-program__large-2 {
  margin-bottom: 10px;
}

.assortment-program__textarea {
  border: 1px solid $gray-300;
  box-sizing: border-box;
  padding: 14px 11px;
  resize: none;
  min-height: 150px;
  width: 100%;

  &::placeholder {
    opacity: 1;
    color: $black444;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
  }

  &:hover {
    border-color: $gray-250;
  }

  &:focus {
    border-color: $black444;
  }
}

.assortment-program__submit {
  border: none;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 9px;
  margin-bottom: 21px;
}

.assortment-program__footnote {
  line-height: 16px;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .assortment-program {
    padding-top: 38px;
    padding-bottom: 72px;
  }

  .assortment-program__desc {
    font-size: 20px;
    line-height: 30px;
    max-width: 350px;
    margin-top: 56px;
  }

  .assortment-program__fieldset {
    padding: 36px 0;

    &_border {
      margin-top: 16px;
      margin-bottom: 16px;
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }

  .assortment-program__desc,
  .assortment-program__fieldset,
  .assortment-program__footer {
    margin-left: 41px;
    margin-right: 37px;
  }

  .assortment-program__wrap-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -15px;
  }

  .assortment-program__textarea {
    min-height: 176px;
    padding: 12px 17px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .assortment-program__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .assortment-program__submit {
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-bottom: 0;
    width: 283px;
  }

  .assortment-program__footnote {
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 286px;
  }

  .assortment-program__fieldset_contacts {
    padding-top: 58px;
    padding-bottom: 10px;
  }

  .assortment-program__fieldset_extra {
    padding-top: 27px;
  }
}

@media (min-width: 1300px) {
  .assortment-program {
    padding-top: 55px;
    padding-bottom: 82px;
  }

  .assortment-program__desc,
  .assortment-program__fieldset,
  .assortment-program__footer {
    margin-left: 0;
    margin-right: 0;
  }

  .assortment-program__submit,
  .assortment-program__footnote,
  .assortment-program__large-2 .assortment-program__label,
  .assortment-program__large-2 .assortment-program__fieldset {
    width: 570px;
  }

  .assortment-program__large-2 {
    display: flex;
    justify-content: space-between;
  }

  .assortment-program__label:last-child {
    margin-bottom: 0;
    align-self: start;
  }

  .assortment-program__desc {
    width: 325px;
  }

  .assortment-program__fieldset_border {
    margin-top: 35px;
    align-self: flex-start;
    padding-bottom: 26px;
  }

  .assortment-program__fieldset_contacts {
    padding-top: 22px;
    padding-bottom: 0;
  }
}
