.btn {
  background-color: $green;
  color: #ffffff;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 11px 29px 11px 26px;
  vertical-align: top;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    background-color: $green-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &_theme-catalog {
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &_theme-gray {
    background-color: $gray;
    color: $black444;

    &:hover,
    &:focus,
    &:active {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .btn {
    width: auto;
    line-height: 20px;
  }
}
