.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.button__icon {
  display: block;
  position: relative;
  height: 38px;
  width: 24px;

  &_toggle-menu::before,
  &_toggle-menu::after {
    background-color: $black222;
    margin: auto;
    position: absolute;
    height: 2px;
    width: 24px;
  }

  &_toggle-menu::before {
    content: "";
    top: 12px;
    left: 0;
    right: 0;
    box-shadow: 0 8px 0 0 $black222, 0 16px 0 0 $black222;
  }

  &_toggle-menu::after {
    transform: rotate(-45deg);
  }
}
