.catalog {
  padding-top: 20px;
}

.catalog__list {
  @include clean-ul;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 38px;
  }

  .catalog__list {
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 165px 0 0;
  }

  .catalog__list .product-list__item:nth-last-child(1),
  .catalog__list .product-list__item:nth-last-child(2) {
    margin-bottom: 35px;
  }

  .catalog__list .product-list__item:last-child {
    background-color: transparent;
  }
}

@media (min-width: 1300px) {
  .catalog {
    padding-top: 55px;
  }

  .catalog__list .product-list__item:nth-last-child(1),
  .catalog__list .product-list__item:nth-last-child(2),
  .catalog__list .product-list__item:nth-last-child(3),
  .catalog__list .product-list__item:nth-last-child(4) {
    margin-bottom: 45px;
  }
}
