.field-data {
  display: flex;
  align-items: center;
  position: relative;
}

.field-data__span {
  color: $black222;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  margin-right: 13px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.field-data__input {
  color: $black444;
  border: 1px solid $gray-100;
  padding: 13px 16px 12px 15px;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  min-width: 10px;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;

  &::-moz-placeholder {
    opacity: 1;
    color: $black444;
    font-size: inherit;
    line-height: inherit;
  }

  &::-ms-input-placeholder {
    opacity: 1;
    color: $black444;
    font-size: inherit;
    line-height: inherit;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $black444;
    font-size: inherit;
    line-height: inherit;
  }

  &:hover {
    border-color: $gray-300;
  }

  &:focus {
    border-color: $black444;
    border-width: 2px;
    outline: none;
  }

  &:invalid {
    outline: none;
  }

  &:focus:required:invalid {
    border-color: $error;
    border-width: 2px;
  }
}

:not(output):-moz-ui-invalid {
  box-shadow: none;
}

.field-data__icon-email,
.field-data__icon-tel {
  position: absolute;
  right: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: $black222;
}

.field-data__input:focus:required:valid + .field-data__icon-email,
.field-data__input:focus:required:valid + .field-data__icon-tel {
  fill: $green;
}

.field-data__input:focus:required:invalid + .field-data__icon-email,
.field-data__input:focus:required:invalid + .field-data__icon-tel {
  fill: $error;
}

@media (min-width: 768px) {
  .field-data__span,
  .field-data__input {
    font-size: 20px;
    line-height: 20px;
  }

  .field-data__span {
    margin-right: 16px;
  }

  .field-data__input {
    padding: 15px 18px 15px 18px;
  }
}
