.graphic-example__wrap {
  display: flex;
  justify-content: space-around;
}

.graphic-example__bar {
  width: 50px;
  background-color: #ffffff;
}

.graphic-example__btn {
  border: none;
  color: $black111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
}
