.graphic-example {
  padding-top: 23px;

  &_after .graphic-example__slider {
    left: 50%;
    right: 5px;
    transition: all 0.3s linear;
  }
}

.graphic-example__imgs-wrap {
  text-align: center;
}

.graphic-example__before-photo-cat {
  margin-left: -20px;
}

.graphic-example__wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 29px 18px 14px 23px;
}

.graphic-example__bar {
  background-color: #ffffff;
  border: 1px solid $gray-300;
  border-radius: 6px;
  height: 12px;
  width: 82px;
  position: relative;
}

.graphic-example__slider {
  background-color: $green;
  border-radius: 6px;
  position: absolute;
  left: 5px;
  right: 50%;
  top: 0;
  bottom: 0;
  height: 6px;
  margin: auto;
  transition: all 0.3s linear;
}

.graphic-example__btn {
  background-color: transparent;
  border: none;
  color: $black111;
  cursor: pointer;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0;
  line-height: 20px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .graphic-example {
    &_after .graphic-example__before-photo-cat {
      display: none;
    }

    &_after .graphic-example__after-photo-cat {
      display: inline-block;
    }
  }

  .graphic-example__after-photo-cat {
    display: none;
  }
}

@media (min-width: 768px) {
  .graphic-example {
    position: relative;
    padding-top: 92px;
    padding-bottom: 61px;

    &::before {
      background-color: $gray;
      background-image: linear-gradient(90deg, $gray 50%, $gray-400 50%);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      left: -250%;
      right: -250%;
    }
    /*состояние после*/
    &_after .graphic-example__slider {
      left: 100%;
      transition: none;
    }

    &_after .graphic-example__before-photo-cat {
      clip: rect(0, 0, 685px, 0);
    }

    &_after .graphic-example__after-photo-cat {
      clip: rect(0, 685px, 685px, 0);
    }
    /*состояние после end*/
    /*состояние до*/
    &_before .graphic-example__slider {
      left: 0%;
      transition: none;
    }

    &_before .graphic-example__before-photo-cat {
      clip: rect(0, 685px, 685px, 0);
    }

    &_before .graphic-example__after-photo-cat {
      clip: rect(0, 710px, 518px, 710px);
    }
    /*состояние до end*/
  }

  .graphic-example__imgs-wrap {
    height: 240px;
  }

  .graphic-example__before-photo-cat,
  .graphic-example__after-photo-cat {
    display: inline-block;
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
  }

  .graphic-example__before-photo-cat {
    clip: rect(0, 337px, 685px, 0);
    height: 518px;
    width: 685px;
    position: absolute;
    margin-left: 5px;
    z-index: 2;
  }

  .graphic-example__after-photo-cat {
    clip: rect(0, 710px, 518px, 349px);
    height: 518px;
    width: 710px;
    margin-left: 6px;
    z-index: 1;
  }

  .graphic-example__wrap {
    justify-content: space-between;
    padding-left: 9.746%;//69px
    padding-right: 9.746%;//69px
    padding-top: 36px;
  }

  .graphic-example__bar {
    background-color: $gray-350;
    border-radius: 3px;
    height: 6px;
    width: 75.44%;//430px
  }

  .graphic-example__slider {
    background-color: #ffffff;
    border: 1px solid $gray-300;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    left: 50%;
    right: auto;
    height: 32px;
    width: 32px;
    transform: translateX(-50%);
    transition: none;

    &::before {
      background-color: $green;
      border-radius: 50%;
      content: "";
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 8px;
      width: 8px;
      transform: translate(-50%, -50%);
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-color: $green;
      border-width: 2px;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .graphic-example__btn {
    font-size: 20px;
    line-height: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      border-bottom: 1px dashed $gray-250;
    }

    &:hover::after {
      border-bottom-style: solid;
      border-bottom-color: #989898;
    }

    &:active::after {
      border: none;
    }
  }
}

@media (min-width: 1300px) {
  .graphic-example {
    width: 650px;
    padding-top: 0;
    padding-bottom: 65px;
    margin-top: 135px;
    margin-right: -40px;
  }

  .graphic-example__imgs-wrap {
    height: 332px;
    transform: translate(-3.2%, -5.5%);
  }

  .graphic-example__wrap {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  .graphic-example__before-photo-cat {
    clip: rect(0, 366px, 685px, 0);
    width: 690px;
    margin-left: 0;
  }

  .graphic-example__after-photo-cat {
    clip: rect(0, 710px, 518px, 376px);
    margin-left: 0;
  }
}
