.header {
  padding: 11px 0 16px;
  border-bottom: 1px solid $gray-100;
}

.header__link-to-home {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__list-menu {
  @include clean-ul;
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__toggle-menu {
    display: none;
  }

  .header__nav {
    width: 516px;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
  }

  .menu-list__link {
    font-size: 18px;
    line-height: 24px;
  }
}
