.header {
  padding: 11px 0 16px;
  border-bottom: 1px solid $gray-100;
}

.header_open {
  padding-bottom: 0;

  & .header__nav {
    display: block;
  }

  & .button__icon_toggle-menu::before,
  & .button__icon_toggle-menu::after {
    content: "";
    top: 3px;
    bottom: 0;
    right: 0;
    box-shadow: none;
  }

  & .button__icon_toggle-menu::before {
    transform: rotate(45deg);
  }
}

.header__logo {
  vertical-align: top;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__link-to-home {
  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.header__list-menu {
  @include clean-ul;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
    padding-top: 16px;
    width: 100%;
  }

  .header__list-menu {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 19px;
    border-bottom: none;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    height: 58px;
    width: 173px;
  }

  .header__nav {
    max-width: 65%;
  }

  .header__toggle-menu {
    display: none;
  }
}

@media (min-width: 1300px) {
  .header {
    padding-top: 49px;
    border-bottom: none;
  }

  .header__logo {
    height: 59px;
    width: 202px;
  }
}
