.label {
  display: block;
  color: $black222;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
  padding-left: 46px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .label_checkbox {
    width: 238px;
  }
}

@media (min-width: 1300px) {
  .label_checkbox {
    width: 199px;
  }
}
