.losing-weight-list__item {
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.losing-weight-list__text-small {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  text-transform: none;
}

.living-example__costs {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
}
