.menu-list__item {
  text-align: center;
  padding-top: 23px;
  padding-bottom: 19px;
}

.menu-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black111;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .menu-list__item {
    border-top: 1px solid $gray-100;
  }

  .menu-list__link {
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-list__item {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .menu-list__link {
    font-size: 18px;
    line-height: 24px;

    &_active::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -9px;
      height: 2px;
      background-color: $green;
    }
  }
}

@media (min-width: 1300px) {
  .menu-list__link {
    font-size: 20px;
    line-height: 25px;
  }

  .menu-list__link_desktop-white {
    color: white;

    &.menu-list__link_active::after {
      background-color: white;
    }
  }
}
