.show-more-products {
  text-align: center;
  padding-top: 80px;
}

.show-more-products__big-text {
  color: $black111;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 7px;
}

.show-more-products__text {
  color: $black444;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 21px;
}
