$green: #68b738;
$green-dark: #5eaa2f;
$black111: #111111;
$black222: #222222;
$black444: #444444;
$gray: #f2f2f2;
$gray-100: #e6e6e6;
$gray-150: #ededed;
$gray-200: #d9d9d9;
$gray-250: #bebebe;
$gray-300: #cdcdcd;
$gray-350: #dcdcdc;
$gray-400: #eaeaea;
$gray-666: #666666;
$error: #ff8282;
